mixin product()
	.col-12.col-sm-4.flex-column.product_item_wrap
		.product_item
			.product_img.slider-for
			.product_img.slider-nav
			p.product_name
			.product_overflow
				p.product_descr
				.product_price.flex.justify-content-between
					.product_price--qty
						span.product_price--qty_num 1
						span.product_price--btn.btn_up
						span.product_price--btn.btn_down
					.product_price--cost
						span $ 
						span.product_price_num

